@mixin font-family() {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

@mixin button() {
  outline: 0;
  border: none;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: none;
  cursor: pointer;
  display: block;
  vertical-align: baseline;
  box-sizing: border-box;
}

@mixin preloader() {
  @include font-family;
  margin-top: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
