@import "mixins";

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 0;
}

input {
  font: inherit;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: 0;
  margin: 0;
  padding: 8px 0 8px 24px;
  vertical-align: bottom;
  width: 220px;
  height: 20px;
  @include font-family;
  line-height: 20px;
  font-size: 14px;
  transition: border-color .3s;

  &:focus {
    border-color: #3f51b5;
  }
}

.clear-button {
  @include button;
}
