<div class="search">
  <img class="search-icon" src="./assets/icons/search-24px.svg">
  <!-- Подписка на keyup в ts -->
  <input #searchTerm
         type="text" placeholder="Search"
         [(ngModel)]="inputValue" />
  <button *ngIf="inputValue" (click)="clear()" class="clear-button">
    <img src="./assets/icons/close-24px.svg">
  </button>
</div>
