<div class="background" (click)="close()"></div>
<div class="content">
  <button (click)="close()" class="close-button">
    <img src="./assets/icons/close-24px.svg">
  </button>
  <div *ngIf="data; else loading">
    <h1>{{title}}</h1>
    <div *ngFor="let row of data" class="row">
      <div class="label">{{row.label}}</div>
      <div *ngIf="row.isArrayOfUrls">
        <div *ngFor="let item of row.value" class="value">{{item | async}}</div>
      </div>
      <div *ngIf="row.isUrl" class="value">
        {{row.value | async}}
      </div>
      <div *ngIf="!row.isUrl && !row.isArrayOfUrls" class="value">
        {{row.value}}
      </div>
    </div>
  </div>
  <ng-template #loading><div class="preloader">Loading...</div></ng-template>
</div>
