@import "mixins";

:host {
  @include font-family;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.05), 0 3px 14px 2px rgba(0,0,0,.05);
  overflow-y: auto;
}

.row {
  line-height: 20px;
  display: flex;
  margin-bottom: 12px
}

.label {
  flex: 0 0 auto;
  width: 40%;
  margin-right: 10px;
  font-size: 12px;
}

.value {
  flex: 1 1 auto;
}

.close-button {
  @include button;
  position: absolute;
  top: 20px;
  right: 20px;
}

.preloader {
  @include preloader;
}
