@import "mixins";

nav {
  margin-bottom: 20px;
}

.tab {
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  vertical-align: top;
  text-decoration: none;
  overflow: hidden;

  @include font-family;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0,0,0,.6);
  border-bottom: 2px solid transparent;
  transition: background-color .3s, border-color .3s;

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }

  &.active {
    border-color: #3f51b5;
  }
}
