<nav>
  <a class="tab" routerLink="/films" routerLinkActive="active">Films</a>
  <a class="tab" routerLink="/people" routerLinkActive="active">People</a>
  <a class="tab" routerLink="/starships" routerLinkActive="active">Starships</a>
</nav>
<router-outlet></router-outlet>
