<div *ngIf="data$ | async as data; else loading">
  <table>
    <thead>
    <tr>
      <th *ngFor="let column of columns">{{formatLabel(column)}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of data?.results" (click)="openPopup(row.url)">
      <td *ngFor="let column of columns">{{row[column]}}</td>
    </tr>
    </tbody>
  </table>
  <div class="paginator">
    <div class="range">{{(currentPage - 1) * rowsOnPage + 1}} – {{currentPage * rowsOnPage > data?.count ? data?.count : currentPage * rowsOnPage}} of {{data?.count}}</div>
    <button class="button prev" (click)="prevPage()" [disabled]="!data.previous">
      <img src="/assets/icons/chevron_left-24px.svg">
    </button>
    <button class="button next" (click)="nextPage()" [disabled]="!data.next">
      <img src="/assets/icons/chevron_right-24px.svg">
    </button>
  </div>
</div>

<ng-template #loading><div class="preloader">Loading...</div></ng-template>
