@import "mixins";

table {
  @include font-family;
  border-spacing: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.05), 0 3px 14px 2px rgba(0,0,0,.05);
  margin-top: 20px;
}

tr {
  height: 56px;
  border-spacing: 0;
  transition: background-color .1s;
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, .05);
}

th {
  padding: 0 0 0 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgba(0,0,0,.05);
  text-align: left;
  color: rgba(0,0,0,.54);
  font-size: 12px;
  font-weight: 500;
}

td {
  padding: 0 0 0 24px;
  border-color: rgba(0,0,0,.12);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: left;
  color: rgba(0,0,0,.87);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.paginator {
  @include font-family;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 56px;
  width: 100%;
  font-size: 12px;
  color: rgba(0,0,0,.54);
}

.range {
  margin: 0 20px;
  line-height: 24px;
}

.button {
  @include button;

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }

  &[disabled] {
    color: rgba(0,0,0,.26);
    cursor: default;

    &:hover {
      background-color: inherit;
    }
  }
}

.preloader {
  @include preloader();
}
